<!doctype html>
<html><!-- InstanceBegin template="/Templates/index-template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<link href="../css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../CSS/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../css/hover.css" type="text/css">
<link rel="stylesheet" href="../css/slidein.css" type="text/css">
<link rel="stylesheet" href="../css/style.css" type="text/css" >

<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<header>
  <div class="info-header bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="social-icon d-flex"> <i class="fa fa-facebook "></i>
            <div class="line-up"></div>
            <i class="fa fa-twitch"></i>
            <div class="line-up"></div>
            <i class="fa fa-twitter"></i>
            <div class="line-up"></div>
            <i class="fa fa-instagram"></i> </div>
        </div>
        <div class="col-md-6">
          <div class="social-info text-right"> 
			  <i class="fa fa-map-marker"></i> <span class="m-1">1002 Đường 3/2 , Quận 11</span> 
			  <i class="fa fa-envelope"></i> <span class="m-1">abcxyz@gmail.com</span> 
			  <i class="fa fa-phone"></i> <span class="m-1">123456789</span> </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg fixed-top py-4">
    <div class="container"> <a href="trangchu.html" class="navbar-brand font-weight-bold m-auto">Muscle Magic</a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href= "gioithieu.html" class="nav-link text-uppercase font-weight-bold ">Giới thiệu <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a href="dichvu.html" class="nav-link text-uppercase font-weight-bold">dịch vụ</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link text-uppercase font-weight-bold">blog</a></li>
          <li class="nav-item"><a href="lienhe.html" class="nav-link text-uppercase font-weight-bold">liên hệ</a></li>
          <div class="d-flex h-100 my-auto mx-2">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>
      </div>
          <button class="btn-signup " type="button">Đăng ký</button>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- InstanceBeginEditable name="nd" -->
<main>
  <section class="page-site pt-5 pb-4">
    <div class="container pt-4">
      <ul class="breadcrumb px-0">
        <li><a href="trangchu.html">Trang chủ</a></li>
        <li class="active">Blog</li>
      </ul>
      <div class="page-tit">blog</div>
    </div>
  </section>
  <section class="blog-list py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="js-slidein blog-item py-3">
            <div class="blog-tit">
              <h3 class="title">Land lights let be divided</h3>
              <i class="fa fa-clock-o my-auto mr-2 text-primary"></i>June 24, 2017 <i class="fa fa-keyboard-o my-auto mx-2 text-primary"></i>Joel Mendez <i class="fa fa-folder-open-o my-auto mx-2 text-primary"></i>General Social <i class="fa fa-comment-o comment my-auto mx-2 text-primary"></i>No comment yet </div>
            <img src="../images/gallery (4).jpg" alt="" class="img-fluid py-3">
            <div class="blog-info">
              <p class="description">Lợi ích của yoga luôn được người luyện tập bộ môn này biết đến từ lâu. Ngày nay, có rất nhiều người lựa chọn tập luyện yoga để giúp cơ thể được khỏe mạnh và giữ gìn vóc dáng cân đối. Vậy khi tập yoga cần lưu ý những điều gì để đạt lợi ích tối đa nhất.</p>
              <div class="d-flex">
                <div class="line-blog"></div>
                <p class="description my-auto ml-2">Thậm chí, yoga còn được xem là một “bài thuốc thần” giúp cải thiện sức khỏe rất tốt. Bạn nên biết đến 7 ưu điểm mà yoga có thể mang lại chỉ sau 1 tháng luyện tập.</p>
              </div>
              <p class="description pt-2">Lợi ích của yoga quan trọng nhất cũng như là lợi ích đầu tiên người ta nghĩ tới đó là cải thiện làn da. Tập yoga giúp da hoạt động nhiều hơn, tăng cường trao đổi chất, khiến quá trình lưu thông máu không bị rối loạn, mất kiểm soát và được cân bằng.</p>
            </div>
            <button type="button" onClick="location.href='CT-blog.html';" class="btn-view-more btn-primary font-weight-bold text-uppercase">View more <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="js-slidein blog-item py-3">
            <div class="blog-tit">
              <h3 class="title">Land lights let be divided</h3>
              <i class="fa fa-clock-o my-auto mr-2 text-primary"></i>June 24, 2017 <i class="fa fa-keyboard-o my-auto mx-2 text-primary"></i>Joel Mendez <i class="fa fa-folder-open-o my-auto mx-2 text-primary"></i>General Social <i class="fa fa-comment-o comment my-auto mx-2 text-primary"></i>No comment yet </div>
            <img src="../images/gallery (1).jpg" alt="" class="img-fluid py-3">
            <div class="blog-info">
              <p class="description">Lợi ích của yoga luôn được người luyện tập bộ môn này biết đến từ lâu. Ngày nay, có rất nhiều người lựa chọn tập luyện yoga để giúp cơ thể được khỏe mạnh và giữ gìn vóc dáng cân đối. Vậy khi tập yoga cần lưu ý những điều gì để đạt lợi ích tối đa nhất.</p>
              <div class="d-flex">
                <div class="line-blog"></div>
                <p class="description my-auto ml-2">Thậm chí, yoga còn được xem là một “bài thuốc thần” giúp cải thiện sức khỏe rất tốt. Bạn nên biết đến 7 ưu điểm mà yoga có thể mang lại chỉ sau 1 tháng luyện tập.</p>
              </div>
              <p class="description pt-2">Lợi ích của yoga quan trọng nhất cũng như là lợi ích đầu tiên người ta nghĩ tới đó là cải thiện làn da. Tập yoga giúp da hoạt động nhiều hơn, tăng cường trao đổi chất, khiến quá trình lưu thông máu không bị rối loạn, mất kiểm soát và được cân bằng.</p>
            </div>
            <button type="button" onClick="location.href='CT-blog.html';" class="btn-view-more btn-primary font-weight-bold text-uppercase">View more <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="js-slidein blog-item py-3">
            <div class="blog-tit">
              <h3 class="title">Land lights let be divided</h3>
              <i class="fa fa-clock-o my-auto mr-2 text-primary"></i>June 24, 2017 <i class="fa fa-keyboard-o my-auto mx-2 text-primary"></i>Joel Mendez <i class="fa fa-folder-open-o my-auto mx-2 text-primary"></i>General Social <i class="fa fa-comment-o comment my-auto mx-2 text-primary"></i>No comment yet </div>
            <img src="../images/gallery (2).jpg" alt="" class="img-fluid py-3">
            <div class="blog-info">
              <p class="description">Lợi ích của yoga luôn được người luyện tập bộ môn này biết đến từ lâu. Ngày nay, có rất nhiều người lựa chọn tập luyện yoga để giúp cơ thể được khỏe mạnh và giữ gìn vóc dáng cân đối. Vậy khi tập yoga cần lưu ý những điều gì để đạt lợi ích tối đa nhất.</p>
              <div class="d-flex">
                <div class="line-blog"></div>
                <p class="description my-auto ml-2">Thậm chí, yoga còn được xem là một “bài thuốc thần” giúp cải thiện sức khỏe rất tốt. Bạn nên biết đến 7 ưu điểm mà yoga có thể mang lại chỉ sau 1 tháng luyện tập.</p>
              </div>
              <p class="description pt-2">Lợi ích của yoga quan trọng nhất cũng như là lợi ích đầu tiên người ta nghĩ tới đó là cải thiện làn da. Tập yoga giúp da hoạt động nhiều hơn, tăng cường trao đổi chất, khiến quá trình lưu thông máu không bị rối loạn, mất kiểm soát và được cân bằng.</p>
            </div>
            <button type="button" onClick="location.href='CT-blog.html';" class="btn-view-more btn-primary font-weight-bold text-uppercase">View more <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="js-slidein blog-item py-3">
            <div class="blog-tit">
              <h3 class="title">Land lights let be divided</h3>
              <i class="fa fa-clock-o my-auto mr-2 text-primary"></i>June 24, 2017 <i class="fa fa-keyboard-o my-auto mx-2 text-primary"></i>Joel Mendez <i class="fa fa-folder-open-o my-auto mx-2 text-primary"></i>General Social <i class="fa fa-comment-o comment my-auto mx-2 text-primary"></i>No comment yet </div>
            <img src="../images/gallery (3).jpg" alt="" class="img-fluid py-3">
            <div class="blog-info">
              <p class="description">Lợi ích của yoga luôn được người luyện tập bộ môn này biết đến từ lâu. Ngày nay, có rất nhiều người lựa chọn tập luyện yoga để giúp cơ thể được khỏe mạnh và giữ gìn vóc dáng cân đối. Vậy khi tập yoga cần lưu ý những điều gì để đạt lợi ích tối đa nhất.</p>
              <div class="d-flex">
                <div class="line-blog"></div>
                <p class="description my-auto ml-2">Thậm chí, yoga còn được xem là một “bài thuốc thần” giúp cải thiện sức khỏe rất tốt. Bạn nên biết đến 7 ưu điểm mà yoga có thể mang lại chỉ sau 1 tháng luyện tập.</p>
              </div>
              <p class="description pt-2">Lợi ích của yoga quan trọng nhất cũng như là lợi ích đầu tiên người ta nghĩ tới đó là cải thiện làn da. Tập yoga giúp da hoạt động nhiều hơn, tăng cường trao đổi chất, khiến quá trình lưu thông máu không bị rối loạn, mất kiểm soát và được cân bằng.</p>
            </div>
            <button type="button" onClick="location.href='CT-blog.html';" class="btn-view-more btn-primary font-weight-bold text-uppercase">View more <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="js-slidein blog-item py-3">
            <div class="blog-tit">
              <h3 class="title">Land lights let be divided</h3>
              <i class="fa fa-clock-o my-auto mr-2 text-primary"></i>June 24, 2017 <i class="fa fa-keyboard-o my-auto mx-2 text-primary"></i>Joel Mendez <i class="fa fa-folder-open-o my-auto mx-2 text-primary"></i>General Social <i class="fa fa-comment-o comment my-auto mx-2 text-primary"></i>No comment yet </div>
            <img src="../images/gallery (5).jpg" alt="" class="img-fluid py-3">
            <div class="blog-info">
              <p class="description">Lợi ích của yoga luôn được người luyện tập bộ môn này biết đến từ lâu. Ngày nay, có rất nhiều người lựa chọn tập luyện yoga để giúp cơ thể được khỏe mạnh và giữ gìn vóc dáng cân đối. Vậy khi tập yoga cần lưu ý những điều gì để đạt lợi ích tối đa nhất.</p>
              <div class="d-flex">
                <div class="line-blog"></div>
                <p class="description my-auto ml-2">Thậm chí, yoga còn được xem là một “bài thuốc thần” giúp cải thiện sức khỏe rất tốt. Bạn nên biết đến 7 ưu điểm mà yoga có thể mang lại chỉ sau 1 tháng luyện tập.</p>
              </div>
              <p class="description pt-2">Lợi ích của yoga quan trọng nhất cũng như là lợi ích đầu tiên người ta nghĩ tới đó là cải thiện làn da. Tập yoga giúp da hoạt động nhiều hơn, tăng cường trao đổi chất, khiến quá trình lưu thông máu không bị rối loạn, mất kiểm soát và được cân bằng.</p>
            </div>
            <button type="button" onClick="location.href='CT-blog.html';" class="btn-view-more btn-primary font-weight-bold text-uppercase">View more <i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="col-md-3">
			<div class="search-fom py-4">
				<div class="input-group">
					<input type="text" class="search form-control" placeholder="Search...." />
					<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
				</div>
			</div>
			<div class="line-red"></div>
          <div class="out-serv">
            <div class="fast-tit">Dịch vụ của chúng tôi</div>
            <div class="side-bar-serv">
              <div class="serv-bar-item"> <a class="description" href="CT-dichvu.html">
                <p >Studio Classes</p>
                </a> </div>
            </div>
            <div class="side-bar-serv">
              <div class="serv-bar-item"> <a class="description" href="CT-dichvu.html">
                <p>Personal Training</p>
                </a> </div>
            </div>
            <div class="side-bar-serv">
              <div class="serv-bar-item"> <a class="description" href="CT-dichvu.html">
                <p>Cardio Fitness</p>
                </a> </div>
            </div>
            <div class="side-bar-serv">
              <div class="serv-bar-item"> <a class="description" href="CT-dichvu.html">
                <p>Strength Training</p>
                </a> </div>
            </div>
            <div class="side-bar-serv">
              <div class="serv-bar-item"> <a class="description" href="CT-dichvu.html">
                <p>Studio Cycling</p>
                </a> </div>
            </div>
            <div class="line-red"></div>
            <div class="fast-tit">Đăng ký để nhận tin</div>
            <div class="subcribe-sm mt-4">
              <input type="email" class="form-sub-sm mb-3" id="exampleInputEmail_2" placeholder="Subscribe to new letters">
              <button type="submit" class="btn-sub-sm btn-primary font-weight-bold text-uppercase">subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- InstanceEndEditable -->
<footer class="bg-secondary">
  <div class="info-footer">
    <div class="container find-us-bg bg-primary">
      <div class="row">
        <div class="col-md-6">
          <div class="find-us d-flex p-2">
            <p class="text-uppercase text-primary font-weight-bold ">find us on :</p>
            <div class="box-icon"><i class="fa fa-facebook text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-instagram text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-google text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-twitter text-primary"></i></div>
          </div>
        </div>
        <div class="col-md-4">
          <input type="email" class="form-sub pl-3" id="exampleInputEmail_1" placeholder="Subscribe to new letters">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn-subscribe btn-primary font-weight-bold text-uppercase">subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h4 class="text-uppercase font-weight-bold text-white mt-5">muscle magic</h4>
          <p class="text-secondary mt-2">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại.</p>
          <p class="text-secondary mt-2">MUSCLE MAGIC by HOANG VINH. All right reserved.</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">KHÓA HỌC</h5>
          <ul>
            <li><a class="text-secondary" href="">Studio classes</a></li>
            <li><a class="text-secondary" href="">Personal training</a></li>
            <li><a class="text-secondary" href="">Cardio fitness</a></li>
            <li><a class="text-secondary" href="">Strength training</a></li>
            <li><a class="text-secondary" href="">Studio cycling</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">liên kết khác</h5>
          <ul>
            <li><a class="text-secondary" href="">Về chúng tôi</a></li>
            <li><a class="text-secondary" href="">Các điều khoản và điều kiện</a></li>
            <li><a class="text-secondary" href="">Chính sách bảo mật</a></li>
            <li><a class="text-secondary" href="">Tin tức</a></li>
            <li><a class="text-secondary" href="">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src= "../js/app.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script> 
<script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script> 

<script src="https://maps.googleapis.com/maps/api/js?AIzaSyCqncoTJ-IfhpE-eljHloYNlDVDTtE_el4&callback=myMap"></script>
<script src="../js/slideIn.js"></script>
	</body>
<!-- InstanceEnd --></html>
