<!doctype html>
<html><!-- InstanceBegin template="/Templates/index-template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<link href="../css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../CSS/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../css/hover.css" type="text/css">
<link rel="stylesheet" href="../css/style.css" type="text/css" >

<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<header>
  <div class="info-header bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="social-icon d-flex"> <i class="fa fa-facebook "></i>
            <div class="line-up"></div>
            <i class="fa fa-twitch"></i>
            <div class="line-up"></div>
            <i class="fa fa-twitter"></i>
            <div class="line-up"></div>
            <i class="fa fa-instagram"></i> </div>
        </div>
        <div class="col-md-6">
          <div class="social-info text-right"> 
			  <i class="fa fa-map-marker"></i> <span class="m-1">1002 Đường 3/2 , Quận 11</span> 
			  <i class="fa fa-envelope"></i> <span class="m-1">abcxyz@gmail.com</span> 
			  <i class="fa fa-phone"></i> <span class="m-1">123456789</span> </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg fixed-top py-4">
    <div class="container"> <a href="trangchu.html" class="navbar-brand font-weight-bold m-auto">Muscle Magic</a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href= "gioithieu.html" class="nav-link text-uppercase font-weight-bold">Giới thiệu <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">dịch vụ</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">blog</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">liên hệ</a></li>
          <i class="fa fa-search nav-link d-none d-lg-block"></i>
          <button class="btn-signup " type="button">Đăng ký</button>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- InstanceBeginEditable name="nd" -->
<main>
	<section class="page-site pt-5 pb-4">
		<div class="container pt-4">
				<ul class="breadcrumb px-0">
					<li><a href="trangchu.html">Trang chủ</a></li>
					<li class="active">Giới thiệu</li>
				</ul>
				<div class="page-tit">Giới thiệu</div>
		</div>
	</section>
	<section class="skills py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="skill-ab text-center font-weight-bold">
					<div class="number-ab">12</div>
					<div class="desc-ab">SKILLED TECHNICIANS</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="skill-ab text-center font-weight-bold">
					<div class="number-ab">150</div>
					<div class="desc-ab">HAPPY CLIENTS</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="skill-ab text-center font-weight-bold">
					<div class="number-ab">12</div>
					<div class="desc-ab">YEARS EXPERIENCE</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="skill-ab text-center font-weight-bold">
					<div class="number-ab">100+</div>
					<div class="desc-ab">PROJECTS COMPLETED</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section class="goal-gt py-4">
		<div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title">Our goal is to provide a superior customer experience</h3>
          <div id="carouselExampleIndicators2" class="carousel slide goal-info " data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner " role="listbox">
              <div class="carousel-item active py-4">
                <p class="description">CITIGYM mang đến cơ hội tập luyện nhiều bộ môn thời thượng, giúp bạn đạt được mục tiêu sức khỏe và hình thể nhanh chóng nhất.</p>
                <p class="description"> Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.
                  Lựa chọn phòng tập gần bạn nhất để có thể tập luyện dễ dàng và tiết kiệm thời gian.</p>
              </div>
              <div class="carousel-item py-4">
                <p class="description">CITIGYM mang đến cơ hội tập luyện nhiều bộ môn thời thượng, giúp bạn đạt được mục tiêu sức khỏe và hình thể nhanh chóng nhất.</p>
                <p class="description"> Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.
                  Lựa chọn phòng tập gần bạn nhất để có thể tập luyện dễ dàng và tiết kiệm thời gian.</p>
              </div>
              <div class="carousel-item py-4">
                <p class="description">CITIGYM mang đến cơ hội tập luyện nhiều bộ môn thời thượng, giúp bạn đạt được mục tiêu sức khỏe và hình thể nhanh chóng nhất.</p>
                <p class="description"> Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.
                  Lựa chọn phòng tập gần bạn nhất để có thể tập luyện dễ dàng và tiết kiệm thời gian.</p>
              </div>
            </div>
            <button type="button" class="btn-discount btn-primary text-uppercase font-weight-bold">nhận ưu đãi</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container">
            <video id="myVideo1" src="../images/180419_Boxing_06_01.mp4"></video>
            <div class="middle">
              <button onclick="playVid()" class="play-video" ><em class="fa fa-play-circle"></em></button>
            </div>
          </div>
        </div>
      </div>
    </div>
	</section>
	<section class="trainers py-4">
		<div class="container">
			<h3 class="title">Meet Our Trainers</h3>
			<div class="row py-3">
				<div class="col-md-3">
					<div class="trainer-main pb-3">
						<img src="../images/team (1).jpg" alt="trainer-1" class="w-100">
						<div class="train-phone">
							<i class="fa fa-phone"></i>
							<a href="tel:123456789">123456789</a>
						</div>
						<div class="train-info ml-2">
							<h5 class="train-name">Neil Patrick</h5>
							<div class="train-posi">Personal Trainer</div>
							<div class="train-desc">Chương trình luyện tập yoga, gym, group X được thiết kế khoa học và phù hợp từ chuyên gia sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</div>
							<div class="train-social text-center">
								<i class="fa fa-facebook"></i>
								<i class="fa fa-instagram"></i>
								<i class="fa fa-linkedin-square"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="trainer-main pb-3">
						<img src="../images/team (2).jpg" alt="trainer-1" class="w-100">
						<div class="train-phone">
							<i class="fa fa-phone"></i>
							<a href="tel:123456789">123456789</a>
						</div>
						<div class="train-info ml-2">
							<h5 class="train-name">Neil Patrick</h5>
							<div class="train-posi">Personal Trainer</div>
							<div class="train-desc">Chương trình luyện tập yoga, gym, group X được thiết kế khoa học và phù hợp từ chuyên gia sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</div>
							<div class="train-social text-center">
								<i class="fa fa-facebook"></i>
								<i class="fa fa-instagram"></i>
								<i class="fa fa-linkedin-square"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="trainer-main pb-3">
						<img src="../images/team (3).jpg" alt="trainer-1" class="w-100">
						<div class="train-phone">
							<i class="fa fa-phone"></i>
							<a href="tel:123456789">123456789</a>
						</div>
						<div class="train-info ml-2">
							<h5 class="train-name">Neil Patrick</h5>
							<div class="train-posi">Personal Trainer</div>
							<div class="train-desc">Chương trình luyện tập yoga, gym, group X được thiết kế khoa học và phù hợp từ chuyên gia sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</div>
							<div class="train-social text-center">
								<i class="fa fa-facebook"></i>
								<i class="fa fa-instagram"></i>
								<i class="fa fa-linkedin-square"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="trainer-main pb-3">
						<img src="../images/team (4).jpg" alt="trainer-1" class="w-100">
						<div class="train-phone">
							<i class="fa fa-phone"></i>
							<a href="tel:123456789">123456789</a>
						</div>
						<div class="train-info ml-2">
							<h5 class="train-name">Neil Patrick</h5>
							<div class="train-posi">Personal Trainer</div>
							<div class="train-desc">Chương trình luyện tập yoga, gym, group X được thiết kế khoa học và phù hợp từ chuyên gia sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</div>
							<div class="train-social text-center">
								<i class="fa fa-facebook"></i>
								<i class="fa fa-instagram"></i>
								<i class="fa fa-linkedin-square"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feedbacks py-3 ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="fb-cus"> <img src="../images/testimonial (1).png" class="img-fluid mx-auto d-block pt-4" alt="img1">
            <div class="fb-info text-center">
              <div class="fb-tit">EXCELLENT WORK</div>
              <div class="fb-star text-primary"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <p class="fb-desc p-3">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại, CITIGYM ưu tiên ra mắt các phòng tập cao cấp trên toàn địa bàn thành phố với những bộ môn chuẩn quốc tế tốt nhất và dịch vụ chăm sóc khách hàng tận tâm.</p>
              <div class="fb-name btn-merri font-weight-bold">Tom Davis</div>
              <div class="description mb-4 pb-3">Seatle, CA</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fb-cus"> <img src="../images/testimonial (2).png" class="img-fluid mx-auto d-block pt-4" alt="img1">
            <div class="fb-info text-center">
              <div class="fb-tit">EXCELLENT WORK</div>
              <div class="fb-star text-primary"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <p class="fb-desc p-3">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại, CITIGYM ưu tiên ra mắt các phòng tập cao cấp trên toàn địa bàn thành phố với những bộ môn chuẩn quốc tế tốt nhất và dịch vụ chăm sóc khách hàng tận tâm.</p>
              <div class="fb-name btn-merri font-weight-bold">Tom Davis</div>
              <div class="description mb-4 pb-3">Seatle, CA</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fb-cus"> <img src="../images/testimonial (3).png" class="img-fluid mx-auto d-block pt-4" alt="img1">
            <div class="fb-info text-center">
              <div class="fb-tit">EXCELLENT WORK</div>
              <div class="fb-star text-primary"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <p class="fb-desc p-3">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại, CITIGYM ưu tiên ra mắt các phòng tập cao cấp trên toàn địa bàn thành phố với những bộ môn chuẩn quốc tế tốt nhất và dịch vụ chăm sóc khách hàng tận tâm.</p>
              <div class="fb-name btn-merri font-weight-bold">Tom Davis</div>
              <div class="description mb-4 pb-3">Seatle, CA</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
	<div class="line-page mt-4"></div>
 	<section class="logo-carousel py-4">
	<div class="container text-center my-3">
		<div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
			<div class="carousel-inner w-100" role="listbox">
				<div class="carousel-item row active">
					<div class="col-3 float-left"><img class="img" src="../images/client-logo-1.jpg"></div>
					<div class="col-3 float-left"><img class="img-fluid" src="../images/client-logo-2.jpg"></div>
					<div class="col-3 float-left"><img class="img-fluid" src="../images/client-logo-3.jpg"></div>
					<div class="col-3 float-left"><img class="img-fluid" src="../images/client-logo-4.jpg"></div>
				</div>
				<div class="carousel-item row">
					<div class="col-3 float-left"><img class="img" src="../images/client-logo-1.jpg"></div>
					<div class="col-3 float-left"><img class="img-fluid" src="../images/client-logo-4.jpg"></div>
					<div class="col-3 float-left"><img class="img-fluid" src="../images/client-logo-3.jpg"></div>
					<div class="col-3 float-left"><img class="img-fluid" src="../images/client-logo-2.jpg"></div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section class="fast-service py-4">
		<div class="container">
			<div class="row py-2">
				<div class="col-md-4 d-flex">
					<img src="../images/001-barbell.png" alt="" class="h-50" >
					<div class="fast-info ml-2">
						<div class="fast-tit">Fast service</div>
						<p class="description pt-2">Tự do tập luyện tại tất cả các CLB thuộc hệ thống CITIGYM chỉ với 1 gói tập duy nhất. Tiện đâu tập đó.</p>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<img src="../images/002-muscle.png" alt="" class="h-50" >
					<div class="fast-info ml-2">
						<div class="fast-tit">Fast service</div>
						<p class="description pt-2">Tự do tập luyện tại tất cả các CLB thuộc hệ thống CITIGYM chỉ với 1 gói tập duy nhất. Tiện đâu tập đó.</p>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<img src="../images/003-fitness.png" alt="" class="h-50" >
					<div class="fast-info ml-2">
						<div class="fast-tit">Fast service</div>
						<p class="description pt-2">Tự do tập luyện tại tất cả các CLB thuộc hệ thống CITIGYM chỉ với 1 gói tập duy nhất. Tiện đâu tập đó.</p>
					</div>
				</div>
			</div>
			<div class="row py-2">
				<div class="col-md-4 d-flex">
					<img src="../images/004-dumbbell.png" alt="" class="h-50" >
					<div class="fast-info ml-2">
						<div class="fast-tit">Fast service</div>
						<p class="description pt-2">Tự do tập luyện tại tất cả các CLB thuộc hệ thống CITIGYM chỉ với 1 gói tập duy nhất. Tiện đâu tập đó.</p>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<img src="../images/005-aerobics.png" alt="" class="h-50" >
					<div class="fast-info ml-2">
						<div class="fast-tit">Fast service</div>
						<p class="description pt-2">Tự do tập luyện tại tất cả các CLB thuộc hệ thống CITIGYM chỉ với 1 gói tập duy nhất. Tiện đâu tập đó.</p>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<img src="../images/006-gym.png" alt="" class="h-50" >
					<div class="fast-info ml-2">
						<div class="fast-tit">Fast service</div>
						<p class="description pt-2">Tự do tập luyện tại tất cả các CLB thuộc hệ thống CITIGYM chỉ với 1 gói tập duy nhất. Tiện đâu tập đó.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- InstanceEndEditable -->
<footer class="bg-secondary">
  <div class="info-footer">
    <div class="container find-us-bg bg-primary">
      <div class="row">
        <div class="col-md-6">
          <div class="find-us d-flex p-2">
            <p class="text-uppercase text-primary font-weight-bold ">find us on :</p>
            <div class="box-icon"><i class="fa fa-facebook text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-instagram text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-google text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-twitter text-primary"></i></div>
          </div>
        </div>
        <div class="col-md-4">
          <input type="email" class="form-sub pl-3" id="exampleInputEmail_1" placeholder="Subscribe to new letters">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn-subscribe btn-primary font-weight-bold text-uppercase">subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h4 class="text-uppercase font-weight-bold text-white mt-5">muscle magic</h4>
          <p class="text-secondary mt-2">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại.</p>
          <p class="text-secondary mt-2">MUSCLE MAGIC by HOANG VINH. All right reserved.</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">KHÓA HỌC</h5>
          <ul>
            <li><a class="text-secondary" href="">Studio classes</a></li>
            <li><a class="text-secondary" href="">Personal training</a></li>
            <li><a class="text-secondary" href="">Cardio fitness</a></li>
            <li><a class="text-secondary" href="">Strength training</a></li>
            <li><a class="text-secondary" href="">Studio cycling</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">liên kết khác</h5>
          <ul>
            <li><a class="text-secondary" href="">Về chúng tôi</a></li>
            <li><a class="text-secondary" href="">Các điều khoản và điều kiện</a></li>
            <li><a class="text-secondary" href="">Chính sách bảo mật</a></li>
            <li><a class="text-secondary" href="">Tin tức</a></li>
            <li><a class="text-secondary" href="">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../js/jquery-3.2.1.min.js"></script> 
<script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script> 
<script src= "../js/app.js"></script>
	</body>
<!-- InstanceEnd --></html>
