<!doctype html>
<html><!-- InstanceBegin template="/Templates/index-template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<link href="../css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../CSS/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../css/hover.css" type="text/css">
<link rel="stylesheet" href="../css/slidein.css" type="text/css">
<link rel="stylesheet" href="../css/style.css" type="text/css" >

<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<header>
  <div class="info-header bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="social-icon d-flex"> <i class="fa fa-facebook "></i>
            <div class="line-up"></div>
            <i class="fa fa-twitch"></i>
            <div class="line-up"></div>
            <i class="fa fa-twitter"></i>
            <div class="line-up"></div>
            <i class="fa fa-instagram"></i> </div>
        </div>
        <div class="col-md-6">
          <div class="social-info text-right"> 
			  <i class="fa fa-map-marker"></i> <span class="m-1">1002 Đường 3/2 , Quận 11</span> 
			  <i class="fa fa-envelope"></i> <span class="m-1">abcxyz@gmail.com</span> 
			  <i class="fa fa-phone"></i> <span class="m-1">123456789</span> </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg fixed-top py-4">
    <div class="container"> <a href="trangchu.html" class="navbar-brand font-weight-bold m-auto">Muscle Magic</a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href= "gioithieu.html" class="nav-link text-uppercase font-weight-bold ">Giới thiệu <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a href="dichvu.html" class="nav-link text-uppercase font-weight-bold">dịch vụ</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link text-uppercase font-weight-bold">blog</a></li>
          <li class="nav-item"><a href="lienhe.html" class="nav-link text-uppercase font-weight-bold">liên hệ</a></li>
          <div class="d-flex h-100 my-auto mx-2">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>
      </div>
          <button class="btn-signup " type="button">Đăng ký</button>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- InstanceBeginEditable name="nd" -->
<main>
	<section class="page-site pt-5 pb-4">
    <div class="container pt-4">
      <ul class="breadcrumb px-0">
        <li><a href="trangchu.html">Trang chủ</a></li>
        <li class="active">Liên hệ</li>
      </ul>
      <div class="page-tit">liên hệ</div>
    </div>
  </section>
	<section class="contact py-4">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="title">Liên hệ chúng tôi</h3>
					<p class="description pb-3">Tập luyện tại CITIGYM để có cơ hội thay đổi ngoại hình một cách ngoạn mục. Việc luyện tập đều đặn tại CITIGYM và đúng kỹ thuật, cùng với một chế độ dinh dưỡng hợp lý sẽ giúp cải thiện vóc dáng một cách rõ rệt.</p>
					<div id="googleMap" style="width:100%;height:400px;"></div>
					<div class="row py-3">
						<div class="col-md-6">
							<div class="cont-info d-flex py-2">
								<img src="../images/003-mail.jpg" alt="">
								<p class="description my-auto ml-2">abc@gmail.com</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="cont-info d-flex py-2">
								<img src="../images/002-phone-call.jpg" alt="">
								<p class="description my-auto ml-2">(84) 123456789</p>
							</div>
						</div>
						<div class="cont-info d-flex col-md-12 py-2">
								<img src="../images/001-pin.jpg" alt="">
								<p class="description my-auto ml-2">49 Grand Street, Los Angeles, California, USA</p>
							</div>
					</div>
				</div>
				<div class="col-md-6">
					<h3 class="title">Để lại tin nhắn</h3>
					<p class="description">Tập luyện tại CITIGYM để có cơ hội thay đổi ngoại hình một cách ngoạn mục. Việc luyện tập đều đặn tại CITIGYM và đúng kỹ thuật, cùng với một chế độ dinh dưỡng hợp lý sẽ giúp cải thiện vóc dáng một cách rõ rệt.</p>
					<div class="contact-form py-3">
						<div class="form-group">
							<textarea row="5" class="form-control pl-4" id="inputContent" placeholder="Your Message" ></textarea>
						</div>
						<div class="form-group">
							<input type="text" class="form-control pl-4" id="inputName" placeholder="Your Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control pl-4" id="inputEmail" placeholder="Your Email">
						</div>
						<div class="form-group">
							<textarea row="1" class="form-control pl-4" id="inputReason" placeholder="Reason of Contact" ></textarea>
						</div>
						<button type="submit" class="btn btn-primary btn-submit float-right">SUBMIT</button>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</main>
<!-- InstanceEndEditable -->
<footer class="bg-secondary">
  <div class="info-footer">
    <div class="container find-us-bg bg-primary">
      <div class="row">
        <div class="col-md-6">
          <div class="find-us d-flex p-2">
            <p class="text-uppercase text-primary font-weight-bold ">find us on :</p>
            <div class="box-icon"><i class="fa fa-facebook text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-instagram text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-google text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-twitter text-primary"></i></div>
          </div>
        </div>
        <div class="col-md-4">
          <input type="email" class="form-sub pl-3" id="exampleInputEmail_1" placeholder="Subscribe to new letters">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn-subscribe btn-primary font-weight-bold text-uppercase">subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h4 class="text-uppercase font-weight-bold text-white mt-5">muscle magic</h4>
          <p class="text-secondary mt-2">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại.</p>
          <p class="text-secondary mt-2">MUSCLE MAGIC by HOANG VINH. All right reserved.</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">KHÓA HỌC</h5>
          <ul>
            <li><a class="text-secondary" href="">Studio classes</a></li>
            <li><a class="text-secondary" href="">Personal training</a></li>
            <li><a class="text-secondary" href="">Cardio fitness</a></li>
            <li><a class="text-secondary" href="">Strength training</a></li>
            <li><a class="text-secondary" href="">Studio cycling</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">liên kết khác</h5>
          <ul>
            <li><a class="text-secondary" href="">Về chúng tôi</a></li>
            <li><a class="text-secondary" href="">Các điều khoản và điều kiện</a></li>
            <li><a class="text-secondary" href="">Chính sách bảo mật</a></li>
            <li><a class="text-secondary" href="">Tin tức</a></li>
            <li><a class="text-secondary" href="">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src= "../js/app.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script> 
<script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script> 

<script src="https://maps.googleapis.com/maps/api/js?AIzaSyCqncoTJ-IfhpE-eljHloYNlDVDTtE_el4&callback=myMap"></script>
<script src="../js/slideIn.js"></script>
	</body>
<!-- InstanceEnd --></html>
