<!doctype html>
<html>
<!-- InstanceBegin template="/Templates/index-template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<link href="../css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../CSS/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../css/hover.css" type="text/css">
<link rel="stylesheet" href="../css/style.css" type="text/css" >
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<header>
  <div class="info-header bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="social-icon d-flex"> <i class="fa fa-facebook "></i>
            <div class="line-up"></div>
            <i class="fa fa-twitch"></i>
            <div class="line-up"></div>
            <i class="fa fa-twitter"></i>
            <div class="line-up"></div>
            <i class="fa fa-instagram"></i> </div>
        </div>
        <div class="col-md-6">
          <div class="social-info text-right"> <i class="fa fa-map-marker"></i> <span class="m-1">1002 Đường 3/2 , Quận 11</span> <i class="fa fa-envelope"></i> <span class="m-1">abcxyz@gmail.com</span> <i class="fa fa-phone"></i> <span class="m-1">123456789</span> </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg fixed-top py-4">
    <div class="container"> <a href="trangchu.html" class="navbar-brand font-weight-bold m-auto">Muscle Magic</a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href= "gioithieu.html" class="nav-link text-uppercase font-weight-bold">Giới thiệu <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">dịch vụ</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">blog</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">liên hệ</a></li>
          <i class="fa fa-search nav-link d-none d-lg-block"></i>
          <button class="btn-signup " type="button">Đăng ký</button>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- InstanceBeginEditable name="nd" -->
<main>
  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" style="background-color: grey">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active"> <img class="d-block mx-auto" src="../images/Banner (1).jpg" alt="First slide">
        <div class="carousel-caption text-left">
          <h2 >Tút dáng cực xinh <br>
            Đón Tết cực đỉnh</h2>
          <p>Rất nhiều ưu đãi đang chờ đón bạn</p>
          <div class="carousel-button">
            <button type="button" class="btn-discount text-uppercase btn-primary">NHẬN ƯU ĐÃI</button>
            <button type="button" class="btn-readmore text-uppercase btn-primary">đọc thêm</button>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img class="d-block mx-auto" src="../images/Banner (2).jpg" alt="Second slide">
        <div class="carousel-caption text-left">
          <h2 >Tút dáng cực xinh <br>
            Đón Tết cực đỉnh</h2>
          <p>Rất nhiều ưu đãi đang chờ đón bạn</p>
          <div class="carousel-button">
            <button type="button" class="btn btn-discount text-uppercase btn-primary">NHẬN ƯU ĐÃI</button>
            <button type="button" class="btn btn-readmore text-uppercase btn-primary">đọc thêm</button>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img class="d-block mx-auto" src="../images/Banner (3).jpg" alt="Third slide">
        <div class="carousel-caption text-left">
          <h2 >Tút dáng cực xinh <br>
            Đón Tết cực đỉnh</h2>
          <p>Rất nhiều ưu đãi đang chờ đón bạn</p>
          <div class="carousel-button">
            <button type="button" class="btn-discount text-uppercase btn-primary">NHẬN ƯU ĐÃI</button>
            <button type="button" class="btn-readmore text-uppercase btn-primary">đọc thêm</button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" href="#carouselExampleIndicators1" type="button" data-slide="prev"> <i class="fa fa-chevron-left"></i> </button>
    <button class="carousel-control-next" href="#carouselExampleIndicators1" type="button" data-slide="next"> <i class="fa fa-chevron-right"></i> </button>
  </div>
  <section class="join-us p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="title">Tham gia cùng chúng tôi</h3>
          <p class="description">Chương trình luyện tập yoga, gym, group X được thiết kế khoa học và phù hợp từ chuyên gia sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</p>
          <div class="best-desc d-flex"> <i class="fa fa-check-circle text-primary"></i>
            <p class="description ml-2">Hệ thống khóa từ thông minh bảo mật tối đa Esmart Lock đầu tiên tại Việt Nam</p>
          </div>
          <div class="best-desc d-flex"> <i class="fa fa-check-circle text-primary"></i>
            <p class="description ml-2">Lớp học yoga buổi sáng được tổ chức ngoài trời để hội viên được hít thở không khí trong lành</p>
          </div>
          <div class="best-desc d-flex"> <i class="fa fa-check-circle text-primary"></i>
            <p class="description ml-2">Được trang bị đầy đủ tiện nghi 5 sao</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <video id="myVideo" src="../images/180419_Boxing_06_01.mp4"></video>
            <div class="middle">
              <button onclick="playVid()" class="play-video" ><em class="fa fa-play-circle"></em></button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="title">Hình ảnh phòng tập</h3>
          <p class="description">Hãy xem một số hình ảnh về khóa học, dụng cụ và môi trường của các học viên. Hãy tham gia ngay !</p>
          <div class="gallery"> <img src="../images/img (1).jpg" alt="pic-1"> <img src="../images/img (2).jpg" alt="pic-2"> <img src="../images/img (3).jpg" alt="pic-3"> <img src="../images/gallery (3).jpg" alt="pic-4"> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="train-me p-4">
    <div class="container">
      <p class="btn-merri text-white">Luyện tập cùng tôi</p>
      <div class="line"></div>
      <h3 class="title text-white pt-2">Trải nghiệm dịch vụ của chúng tôi với giá cực hời</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="courses-me"> <img src="../images/gallery (1).jpg" alt="">
            <div class="desc-box pl-3">
              <h5 class="text-primary">Các Khóa Học</h5>
              <p class="description">Trải nghiệm những dịch vụ cao cấp nhất sau giờ tập luyện: tủ đồ thông minh, khu vực trang điểm tiện nghi, phòng tắm, xông hơi trang bị hiện đại.</p>
              <button type="button" class="btn-readmore btn-primary font-weight-bold text-uppercase btn-merri">read more</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="courses-me"> <img src="../images/gallery (2).jpg" alt="">
            <div class="desc-box pl-3">
              <h5 class="text-primary">Các Khóa Học</h5>
              <p class="description">Trải nghiệm những dịch vụ cao cấp nhất sau giờ tập luyện: tủ đồ thông minh, khu vực trang điểm tiện nghi, phòng tắm, xông hơi trang bị hiện đại.</p>
              <button type="button" class="btn-readmore btn-primary font-weight-bold text-uppercase btn-merri">read more</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="courses-me"> <img src="../images/gallery (3).jpg" alt="">
            <div class="desc-box pl-3">
              <h5 class="text-primary">Các Khóa Học</h5>
              <p class="description">Trải nghiệm những dịch vụ cao cấp nhất sau giờ tập luyện: tủ đồ thông minh, khu vực trang điểm tiện nghi, phòng tắm, xông hơi trang bị hiện đại.</p>
              <button type="button" class="btn-readmore btn-primary font-weight-bold text-uppercase btn-merri">read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="goal p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title">Our goal is to provide a superior customer experience</h3>
          <div id="carouselExampleIndicators2" class="carousel slide goal-info " data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner " role="listbox">
              <div class="carousel-item active py-4">
                <p class="description">CITIGYM mang đến cơ hội tập luyện nhiều bộ môn thời thượng, giúp bạn đạt được mục tiêu sức khỏe và hình thể nhanh chóng nhất.</p>
                <p class="description"> Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.
                  Lựa chọn phòng tập gần bạn nhất để có thể tập luyện dễ dàng và tiết kiệm thời gian.</p>
              </div>
              <div class="carousel-item py-4">
                <p class="description">CITIGYM mang đến cơ hội tập luyện nhiều bộ môn thời thượng, giúp bạn đạt được mục tiêu sức khỏe và hình thể nhanh chóng nhất.</p>
                <p class="description"> Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.
                  Lựa chọn phòng tập gần bạn nhất để có thể tập luyện dễ dàng và tiết kiệm thời gian.</p>
              </div>
              <div class="carousel-item py-4">
                <p class="description">CITIGYM mang đến cơ hội tập luyện nhiều bộ môn thời thượng, giúp bạn đạt được mục tiêu sức khỏe và hình thể nhanh chóng nhất.</p>
                <p class="description"> Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.
                  Lựa chọn phòng tập gần bạn nhất để có thể tập luyện dễ dàng và tiết kiệm thời gian.</p>
              </div>
            </div>
            <button type="button" class="btn-discount btn-primary text-uppercase font-weight-bold">nhận ưu đãi</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container">
            <video id="myVideo1" src="../images/180419_Boxing_06_01.mp4"></video>
            <div class="middle">
              <button onclick="playVid()" class="play-video" ><em class="fa fa-play-circle"></em></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="countdown p-4">
    <div class="container">
      <div class="row">
        <div id="countdown">
          <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
          </ul>
        </div>
      </div>
      <h3 class="title text-center">Hãy nhanh tay và <span class="sign-up hvr-underline-from-left text-primary">Đăng ký</span> ngay !</h3>
    </div>
  </section>
  <section class="schedule p-4">
    <div class="container">
      <p class="btn-merri text-white">Luyện tập cùng tôi</p>
      <div class="line"></div>
      <h3 class="title text-white pt-2">Xem lịch trình tập luyện của chúng tôi để khám phá được thêm nhiều kĩ năng</h3>
	  
    </div>
  </section>
  <section class="packages p-4">
		<div class="container">
	  	<div class="row">
				<div class="col-md-4">
				<h3 class="title">Pricing plans and options</h3>
				<p class="description py-2">Đơn giản,thoải mái, và giá cả niêm yết. Hãy lựa chọn gói tập phù hợp với bạn</p>
				<button type="button" class="btn-plans btn-primary text-uppercase font-weight-bold">nhận ưu đãi</button>
			</div>
				<div class="col-md-4">
				<div class="package-start text-center hvr-bounce-in mx-auto">
					<div class="pack-tit">Starter</div>
					<div class="pack-mon">$<span>50</span></div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Home, Club Access</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Fitness training</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Action sports</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Massage chairs</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Gym t-shirts</div>			<button type="button" class="btn-started btn-primary text-uppercase font-weight-bold">nhận ưu đãi</button>
					</div>
			</div>
				<div class="col-md-4">
				<div class="package-start text-center hvr-bounce-in mx-auto">
					<div class="pack-tit">Starter</div>
					<div class="pack-mon">$<span>50</span></div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Home, Club Access</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Fitness training</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Action sports</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Massage chairs</div>
				<div class="pack-info description"><i class="fa fa-check text-primary mr-2"></i>Gym t-shirts</div>			<button type="button" class="btn-started btn-primary text-uppercase font-weight-bold">nhận ưu đãi</button>
					</div>
			</div>
			</div>
	  </div>
	</section>
	<div class="line-page mt-4"></div>
	<section class="feedbacks ">
		<div class="container">
			<div class="row">
				<div id="carousel-example" class="carousel slide py-3" data-ride="carousel">
					<div class="carousel-inner row mx-auto" role="listbox">
						<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
							<div class="fb-cus">
							<img src="../images/testimonial (1).png" class="img-fluid mx-auto d-block pt-4" alt="img1">	
							<div class="fb-info text-center">
								<div class="fb-tit">EXCELLENT WORK</div>
								<div class="fb-star text-primary"><i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
								</div>
								<p class="fb-desc">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại, CITIGYM ưu tiên ra mắt các phòng tập cao cấp trên toàn địa bàn thành phố với những bộ môn chuẩn quốc tế tốt nhất và dịch vụ chăm sóc khách hàng tận tâm.</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- InstanceEndEditable -->
<footer class="bg-secondary">
  <div class="info-footer">
    <div class="container find-us-bg bg-primary">
      <div class="row">
        <div class="col-md-6">
          <div class="find-us d-flex p-2">
            <p class="text-uppercase text-primary font-weight-bold ">find us on :</p>
            <div class="box-icon"><i class="fa fa-facebook text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-instagram text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-google text-primary"></i></div>
            <div class="box-icon"><i class="fa fa-twitter text-primary"></i></div>
          </div>
        </div>
        <div class="col-md-4">
          <input type="email" class="form-sub pl-3" id="exampleInputEmail1" placeholder="Subscribe to new letters">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn-subscribe btn-primary font-weight-bold text-uppercase">subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h4 class="text-uppercase font-weight-bold text-white mt-5">muscle magic</h4>
          <p class="text-secondary mt-2">Với mục tiêu cải thiện hình thể và sức khỏe cho cư dân thành phố với nhịp sống năng động hiện đại.</p>
          <p class="text-secondary mt-2">MUSCLE MAGIC by HOANG VINH. All right reserved.</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">KHÓA HỌC</h5>
          <ul>
            <li><a class="text-secondary" href="">Studio classes</a></li>
            <li><a class="text-secondary" href="">Personal training</a></li>
            <li><a class="text-secondary" href="">Cardio fitness</a></li>
            <li><a class="text-secondary" href="">Strength training</a></li>
            <li><a class="text-secondary" href="">Studio cycling</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase font-weight-bold text-white mt-5">liên kết khác</h5>
          <ul>
            <li><a class="text-secondary" href="">Về chúng tôi</a></li>
            <li><a class="text-secondary" href="">Các điều khoản và điều kiện</a></li>
            <li><a class="text-secondary" href="">Chính sách bảo mật</a></li>
            <li><a class="text-secondary" href="">Tin tức</a></li>
            <li><a class="text-secondary" href="">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../js/jquery-3.2.1.min.js"></script> 
<script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script> 
<script src= "../js/app.js"></script>
</body>
<!-- InstanceEnd -->
</html>
